In [1]:
import pandas as pd

In [21]:
# 读文件数据 usecols指定读哪些列，不指定则全读
data = pd.read_csv('./data/stock_day.csv', usecols=['open','close'])
data.head()
#data.columns

             open  close
2018-02-27  23.53  24.16
2018-02-26  22.80  23.53
2018-02-23  22.88  22.82
2018-02-22  22.25  22.28
2018-02-14  21.49  21.92

In [15]:
# 保存数据到文件  columns指定保存哪些列, index=？这是什么
# data.to_csv('./data/test.csv', columns=['close'])
data.to_csv('./data/test.csv', columns=['close'], index=False)

In [16]:
data = pd.read_csv('./data/test.csv')
data

     close
0    24.16
1    23.53
2    22.82
3    22.28
4    21.92
..     ...
638  14.28
639  13.16
640  12.90
641  12.70
642  12.52

[643 rows x 1 columns]

# 2 hdf5

In [12]:
# 没找到资料，大概是这个意思
day_close = pd.read_hdf('./data/day_close.h5')

FileNotFoundError: File ./data/day_close.h5 does not exist

In [13]:
# 
day_close.to_hdf('./data/test.h5', key="day_close")

NameError: name 'day_close' is not defined